<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Productos</title>
  </head>
  <body>
    <h1>Productos</h1>

    {{#if products.length}}
      <div class="product-container">
        {{#each products}}
          <div class="card">
            <h2>{{this.title}}</h2>
            <p>{{this.description}}</p>
            <p>Price: {{this.price}}</p>
            <p>Category: {{this.category}}</p>
            <a href="/products/{{this._id}}">View Details</a>
          </div>
        {{/each}}
      </div>
      <div class="pagination">
        {{#if pagination.hasPrevPage}}
          <a
            href="/products?limit={{pagination.limit}}&page={{pagination.prevPage}}&sort={{pagination.sort}}&query={{pagination.query}}"
          >Previous</a>
        {{/if}}
        {{#if pagination.hasNextPage}}
          <a
            href="/products?limit={{pagination.limit}}&page={{pagination.nextPage}}&sort={{pagination.sort}}&query={{pagination.query}}"
          >Next</a>
        {{/if}}
      </div>
    {{else}}
      <p>No products found.</p>
    {{/if}}
  </body>
</html>